<html>

<head>
    <meta name='viewport' content="width=device-width,intial-scale=1">
    <link rel='stylesheet' href="../pf-base.css" type="text/css">
    <link rel='stylesheet' href="./pf-flex.css" type="text/css">
</head>

<body>
    <div class='pf-container'>
        <div class='pf-sidebar-container'>
            <div class='pf-sidebar'>
                <h1>Hi there</h1>
                <p>some random para</p>
            </div>
        </div>
        <div class="pf-content">
            <p>
                Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus
            </p>
            <h1>Services</h1>
            <div class='pf-grid'>
                <div class='pf-grid-item'>
                    <h2>consulting</h2>
                    <p>Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus</p>
                    <a href='#'>learn more</a>
                </div>
                <div class='pf-grid-item'>
                    <h2>consulting</h2>
                    <p>Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus</p>
                    <a href='#'>learn more</a>
                </div>
                <div class='pf-grid-item'>
                    <h2>consulting</h2>
                    <p>Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus</p>
                    <a href='#'>learn more</a>
                </div>
                <div class='pf-grid-item'>
                    <h2>consulting</h2>
                    <p>Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus</p>
                    <a href='#'>learn more</a>
                </div>
                <div class='pf-grid-item'>
                    <h2>consulting</h2>
                    <p>Lorizzle ipsizzle dolor mofo dawg, bling bling adipiscing elizzle. Izzle sapien velit, mah nizzle volutpat, suscipit fo shizzle, ghetto vel, . Dizzle mofo bling bling. Sed eros. Fusce shizzle my nizzle crocodizzle funky fresh pizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus rizzle. Maurizzle crazy shizzle my nizzle crocodizzle izzle turpizzle. Dawg izzle tortizzle. Sizzle da bomb rhoncizzle nisi. In hac shit pot dictumst. Donec dapibus. Curabitur tellus urna, pretizzle eu, fizzle ac, yo mamma vitae, nunc. Break it down suscipizzle. Integer sempizzle dizzle sizzle purus</p>
                    <a href='#'>learn more</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
