html, body{
    height: 100%;
    background: #1c1c1c;
}
a:hover{
    color: gray;
}
header{
    display: flex;
    background: black;
    justify-content: space-around;
    padding-top: 18px;
    flex-flow:row;
}
.child{
    flex-grow: 1;
}

ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin: 0; padding: 0;
}